<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:property-placeholder location="classpath:application.properties"/>

	<bean id="myFortune" class="org.spring.xml.HappyFortuneService" />
	
	<bean id="myCoach" class="org.spring.xml.BaseballCoach">
		<constructor-arg ref="myFortune"/>
	</bean>

	<bean id="myCoach2" class="org.spring.xml.TrackCoach">
		<constructor-arg ref="myFortune"/>
	</bean>
	
	<bean id="myCoach3" class="org.spring.xml.CricketCoach">
		<property name="foruneService" ref="myFortune"/>
		<property name="emailAddress" value="${email.address}"/>
		<property name="team" value="${team}" />
	</bean>
</beans>
